{{/* Function to get logo URL for JSONLD. */}}
{{/* Inputs: page context */}}
{{/* Output: logo URL (URL) */}}
{{/* Site override: get_logo returns a dict; use its .resource for .Permalink. */}}

{{ $logo_url := "" }}
{{ if resources.Get "media/logo.png" | or (resources.Get "media/logo.svg") }}
  {{ $logo := partialCached "functions/get_logo" (dict "constraint" "fit" "size" 192) }}
  {{ with $logo.resource }}
    {{ $logo_url = .Permalink }}
  {{ end }}
{{ else }}
  {{ $logo_url = (partial "functions/get_site_icon" 192).Permalink }}
{{ end }}

{{ return $logo_url }}
